h1 {
    color: white;
}

div#tlo {
    width: 400px;
    height: 750px;
    background-color: #808080;
}

div#kwadrat {
    width: 150px;
    height: 150px;
    background-color: #fea500;
}

/* .kwadrat { 
    width: 150px;
    width: 75%;
    background-color: gold; */
/* } */